# VS Code
.vscode/

# Jetbrains IDE
.idea/

# macOS filesystem custom folder attributes
.DS_Store

# npm-specific files
node_modules
npm-debug.log

# check-pages.sh generates these files
check-pages*/

# calculate-metrics.sh generates these files.
/*.txt
/*.md
metrics.zip
!requirements.txt

# Generated pycache
__pycache__
