name: Calculate Metrics

on:
  workflow_dispatch:
  push: 
    branches: [main]
    paths:
      - tldr/
      - .github/workflows/calculate-metrics.yml
      - scripts/*.sh
      - scripts/*.py
      - '!scripts/sort-lychee-output.py'

jobs:
  calculate-metrics:
    runs-on: ubuntu-latest

    name: Calculate Metrics

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: true

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        if: github.ref == 'refs/heads/main'
        with:
          python-version: '3.12'
          cache: 'pip'

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: Install npm dependencies
        run: npm install -g markdownlint-cli tldr-lint

      - name: Install pip dependencies
        if: github.ref == 'refs/heads/main'
        run: pip install -r requirements.txt && rm -f requirements.txt
  
      - name: Run the script and generate artifacts
        run: |
          ./scripts/calculate-metrics.sh 2>&1 | tee metrics-log.md
          cat metrics-log.md >> $GITHUB_STEP_SUMMARY

      - name: Upload Calculate Metrics artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: metrics
          path: |
            metrics-log.md
            *.txt
            check-pages*/

      - name: Create metrics.zip
        if: github.ref == 'refs/heads/main'
        run: zip -r metrics.zip metrics-log.md *.txt check-pages*/

      - name: Delete artifacts from GitHub Release
        if: github.ref == 'refs/heads/main'
        uses: mknejp/delete-release-assets@03294a667e97911b5883d3028f277a0b4441edfb # v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: latest
          fail-if-no-assets: false
          fail-if-no-release: false
          assets: |
            metrics-log.md
            *.txt
            metrics.zip

      - name: Upload artifacts to GitHub Release
        if: github.ref == 'refs/heads/main'
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          tag_name: latest
          files: |
            metrics-log.md
            *.txt
            metrics.zip

      - name: Update Translation Dashboard Status Issue
        if: github.repository == 'tldr-pages/tldr-maintenance' && github.ref == 'refs/heads/main'
        run: python3 scripts/update-dashboard-issue.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update Language-specific Translation Dashboard Status Issues
        if: github.repository == 'tldr-pages/tldr-maintenance' && github.ref == 'refs/heads/main'
        run: python3 scripts/update-language-issues.py
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
