name: Update Submodule

on:
  workflow_dispatch:
  schedule:
    - cron: "10,40 * * * *"

jobs:
  update-submodule:
    name: Update Submodule
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          submodules: true

      - name: Git submodule update
        run: |
          git pull --rebase=true --recurse-submodules
          git submodule update --remote --recursive

      - name: Commit update
        id: commit
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          if git commit -am "ci: update TLDR submodule" && git push; then
            echo "anything-committed=true" >> $GITHUB_OUTPUT
          else
            echo "anything-committed=false" >> $GITHUB_OUTPUT
          fi
        shell: bash

      - name: Trigger Calculate Metrics
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        if: ${{ steps.commit.outputs.anything-committed == 'true' }}
        with:
          script: |
            github.rest.actions.createWorkflowDispatch({
                owner: context.repo.owner,
                repo: context.repo.repo,
                workflow_id: 'calculate-metrics.yml',
                ref: 'main',
              })
